@import url("/count/35f2be");
@font-face {font-family: 'SofiaProRegular';src: url('webfonts/35F2BE_0_0.eot');src: url('webfonts/35F2BE_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/35F2BE_0_0.woff2') format('woff2'),url('webfonts/35F2BE_0_0.woff') format('woff'),url('webfonts/35F2BE_0_0.ttf') format('truetype');}
@font-face {font-family: 'SofiaProSemiBold';src: url('webfonts/35F2BE_1_0.eot');src: url('webfonts/35F2BE_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/35F2BE_1_0.woff2') format('woff2'),url('webfonts/35F2BE_1_0.woff') format('woff'),url('webfonts/35F2BE_1_0.ttf') format('truetype');}
 

body {
  font-family: "PT Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 27px;
  overflow-x: hidden;
}

.font-header {
	font-family: SofiaProSemiBold;
	font-weight: normal;
	font-style: normal;
	font-size: 64px;
    line-height: 64px;
    margin-bottom: 16px;
}

.font-title {
	font-size: 48px;
	line-height: 64px;
	margin-bottom: 32px;
	font-weight: 400;
}

.font-subject {
	font-family: SofiaProSemiBold;
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
}

.font-subnote {
	font-size: 13px;
    margin-bottom: 4px;
    color: #707070;
    line-height: 20px;
}

.font-intro {
	font-family: SofiaProRegular;
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
    line-height: 34px;
}

.font-point {
	font-family: SofiaProSemiBold;
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	line-height: 34px;
    margin-bottom: 12px;
}

.font-point---original {
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    background: #ffffff;
    padding: 32px;
    margin-top: 42px;
}

.font-quote {
	font-size: 20px;
    line-height: 34px;
}

.font-sub-nav {
	font-size: 12px;
    line-height: 22px;
    margin-bottom: 12px;
}

.hero-section {
	color: #fff;
	min-height: 512px;
	padding-bottom: 64px;
	background-color: #050412;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	background-position-y: 0;
}

.hero-section--work {
	background-color: #18181c;
	min-height: 128px;
}

.hero-section--names-faces {
	background-color: #2D566B;
}

.hero-section--contact {
	background-color: #18181c;
	min-height: 364px;
}

.hero-section--alice {
	background-color: #273138;
	min-height: 464px;
}

.hero-section--booking {
	background-color: #001b42;
	min-height: 436px;
}

.hero-section--linesup{
	background-color: #052840;
	min-height: 436px;
}

.hero-section--mpic{
	background-color: #333;
	min-height: 496px;
}

.hero-section--goodroads  {
	background-color: #46754b;
	min-height: 436px;
}

.hero-section--philips  {
	background-color: #303030;
	min-height: 484px;
}

.hero-section--contact {
	position: absolute;
	background-color: #2e2e2e;
}

.hero-section--main {
	background-image: url(../images/polar-lights2.jpg);
}

.hero-section--about {
	background-image: url(../images/polar-lights4.jpg);
}

.about-resume-link {
	margin-left: -7px;
	width: 91px;
	transition: all .2s ease;
	margin-bottom: 4px;
	text-decoration: none;
}
.about-resume-link:hover {
	width: 94px;
	margin-bottom: 0px;
}

.hero-section:before {
	background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 75%);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.present-section {
    padding-top: 64px;
}

.present-section--alice {
	background-color: #1c2226;
    margin-top: 140px;
    padding-bottom: 64px;
    color: #fff;
}

.present-section--hue {
	background-color: #252525;
    margin-top: 100px;
    padding-bottom: 64px;
    color: #fff;
}

.present-section--linesup {
	background-color: #252525;
    padding-bottom: 64px;
    color: #fff;
}

.present-section--grey {
	background-color: #f5f5f5;
    margin-top: 140px;
    padding-bottom: 64px;
}

.present-section--goodroads {
	background-color: #252525;
    margin-top: 140px;
    padding-bottom: 64px;
    color: #fff;
}
.present-section--goodroads .font-subnote {
	color: #ccc;
}

.hero-section__intro--main {
	margin-top: 32px;
}

.hero-section--about:before {
	background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.3) 75%);
}

.navigation-section a:link,
.navigation-section a:visited{
	color: #000;
	opacity: 0.75;
	transition: all .2s ease;
}

.hero-section a:link,
.hero-section a:visited{
	color: #fff;
	opacity: 0.75;
	transition: all .2s ease;
}

.navigation-section a:hover,
.hero-section a:hover{
	opacity: 1;
}

.nav-link.active {
	opacity: 1;
	font-weight: 800;
}

.header {
	padding: 48px 0px;
}

 a.logo:link {
	text-decoration: none;
}

.logo-placeholder {
	margin-top: 16px;
}

.main-navigation {
	float: right;
	font-family: SofiaProRegular;
}

.main-navigation .nav-link{
	font-size: 15px;
	padding: 16px;
}

.content {
	padding-bottom: 64px;
}

.content .section:first-child{
	margin-top: 0px;
}

.content .section{
	margin-top: 64px;
	margin-bottom: 64px;
}

.section--navigation {
	padding-top: 64px;
	padding-bottom: 64px;
	border-top: 1px solid #ededed;
}

.secondary__info {
	font-size: 13px;
	line-height: 22px;
}

.secondary__info--lines {
	max-width: 270px;
	margin-top: 16px;
	text-align: center;
	font-size: 15px;
}

.section__point {
	margin-top: 64px;
}

.section__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.section__list > li {
	margin-bottom: 4px;
}

ul.section__list > li:last-child {
	margin-bottom: 16px;
}

.section__list--dashed > li {
	padding-left: 22px;
}

.section__list--numeric{
	list-style-type:decimal;
}

.section__list--dashed > li:before {
  content: "—";
  margin-left: -22px;
  position: absolute;
}

.interpunkt {
	color: #383838;
}

a.project-item:link,
a.project-item:visited {
	color: #383838;
}

a.project-item:hover {
	text-decoration: none;
	color: #111;
}

.project-line {
	transition: all .2s ease;
	position: relative;
	padding-right: 12px;
}

.project-line.project-line--navigation-forward,
.project-line.project-line--navigation-backward {
	margin-left: 12px;
}

.project-line.project-line--navigation-backward {
	padding-right: 0px;
}

.project-line.project-line--navigation-forward {
	padding-right: 12px;
	text-align: right;
}

.project-line--navigation-forward:before {
	content: "→";
	position: absolute;
	margin-left: 12px;
	margin-top: -2px;
}

.project-line--navigation-backward:before {
	content: "←";
	position: absolute;
	margin-left: -24px;
	margin-top: -2px;
}

.font-subject {
	margin-bottom: 2px;
}

.project-line--intro {
	transition: all .2s ease;
	position: relative;
	margin-top: 32px;
}

.project-line__item {
	width: 100%;
    height: 300px;
    margin-bottom: 24px;
    padding: 24px;
    border-radius: 3px;
    background: #f2f2f2;
    transition: all .2s ease;
}

.project-line__roads {
	background: #46754b;
	color: #fff;
}

.project-line__roads img {
	margin-left: -170px;
	width: 453px;
	margin-top: 70px;
	transition: all .2s ease;
}

.project-line__roads:hover > img {
	margin-top: 74px;	
}

.project-line__alice img {
	margin-top: 82px;
	transition: all .2s ease;
}

.project-line__alice:hover > img {
	margin-top: 86px;	
}

.project-line__alice {
	background: #273138;
	color: #fff;
}

.project-line__hue img {
	margin-top: -25px;
    width: 353px;
    transition: all .2s ease;
    margin-left: -42px;
}

.project-line__hue:hover  img {
	margin-top: -21px;	
}


.project-line__hue {
	background: #303030;
	color: #fff;
}

.footer {
	font-size: 13px;
    color: #707070;
    border-top: 1px solid #ededed;
    padding-top: 64px;
    width: 100%;
}

@media screen and (max-width: 991px) {
	.section__point {
	    margin-top: 32px;
	}
	.project-line__item {
		height: auto;
	}

	.project-line__item img {
		display: none;
	}
}

@media screen and (min-width: 768px)  {

	.logo-placeholder--back:hover:before {
		content: "←";
		position: absolute;
		margin-left: -24px;
		margin-top: -2px;
	}

	.project-line:hover {
		margin-left: 12px;
		padding-right: 0px;
		cursor: pointer;
	}


	.project-line:hover:before {
		content: "→";
		position: absolute;
		margin-left: -24px;
		margin-top: -2px;
	}

	.project-line.project-line--navigation-backward:hover:before {
		margin-left: -30px;
	}

	.project-line.project-line--navigation-forward:hover:before {
		margin-left: 18px;
	}

	.project-line.project-line--navigation-backward:hover {
		margin-left: 0px;
		padding-right: 24px;
		cursor: pointer;
	}

	.project-line.project-line--navigation-forward:hover {
		margin-left: 0px;
		padding-left: 12px;
		cursor: pointer;
	}

	.project-line.project-line--navigation-backward:hover:before {
		content: "←";
	}

	.project-line--intro:hover {
		margin-top: 28px;
		cursor: pointer;
	}

	.project-line--intro:hover > .project-line__item {
		-webkit-box-shadow: 0px 35px 36px -28px rgba(148,148,148,0.75);
		-moz-box-shadow: 0px 35px 36px -28px rgba(148,148,148,0.75);
		box-shadow: 0px 35px 36px -28px rgba(148,148,148,0.75);
	}
}

.supporting-image--alice,
.supporting-image--instahue,
.supporting-image--linesup{
	margin-left: -26px;
	margin-top: -120px;
}

.hero-image--process {
	max-width: 512px;
    margin-bottom: 16px;
    width: 100%;
    margin-left: -32px;
}

.hero-image--work {
	width: 100%;
    position: absolute;
    bottom: -82px;
}

.hero-image--contact {
		
}

.hero-image--linesup {
	margin-bottom: 32px;
    width: 100%;
    max-width: 232px;
}

.hero-image--mpic {
	margin-bottom: 48px;
    width: 100%;
    max-width: 486px;
}

.hero-image--alice {
	position: absolute;
	bottom: 1px;
	width: 100%;
	max-width: 609px;
}

.hero-image--goodroads {
	max-width: 593px;
	width: 593px;
	position: absolute;
	bottom: -42px;
	margin-left: -232px;
}

.hero-image--instahue
{
	width: 353px;
	position: absolute;
	margin-top: 130px;
}

.secondary__info--m {
	display: none;
}

.hero-image--goodroads-m,
.hero-image--instahue-m {
	display: none;
}

.custom-section--goodroads {
	margin-top: 128px;
}

.nf-image-intro,
.nf-context-pictures {
		position: absolute;
	}

.nf-quote {
	padding: 24px 24px 12px 24px;
    background: #f2f2f2;
    margin: 32px 0;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.05);
    border: 1px solid #ebebeb;
}


@media screen and (max-width: 767px) {
	.nf-image-intro {
		position: relative;
	}
	.nf-context-pictures {
		position: relative;
		max-width: 282px;
	}
	.font-header {
		font-size: 48px;
		line-height: 48px;
		margin-bottom: 8px;
	}
	.font-intro {
		font-size: 16px;
    	line-height: 26px;
	}
	.font-subject {
		margin-bottom: 0px;
	}
	.hero-section {
		padding-bottom: 32px;
		min-height: auto;
	}

	.hero-image--work {
		position: relative;
		bottom: 0px;
	}

	.header {
		padding: 24px 0px;
	}
	.main-navigation {
	    float: left;
	    margin-left: -12px;
	    margin-top: 8px;
	}

	.main-navigation .nav-link {
		padding-left: 12px;
		padding-right: 12px;
	}

	.project-line__item {
		margin-bottom: 0px;
	}

	.project-line__item p {
		margin-bottom: 0px;
	}

	.hero-section__intro--main {
		margin-top: 0px;
	}

	.hero-section--contact {
		min-height: auto;
	}

	.secondary__info {
		display: none;
	}

	.secondary__info--m {
		display: block;;
		border-bottom: 1px solid #ddd;
    	padding-bottom: 16px;
	}

	.hero-section.hero-section--alice {
		min-height: 420px;
	}

	.supporting-image--alice,
	.supporting-image--instahue,
	.supporting-image--linesup {
		margin-left: 0;
	}

	.hero-image--goodroads,
	.hero-image--instahue {
		display: none;
	}

	.hero-image--goodroads-m {
		display: block;
		margin-left: -196px;
		margin-bottom: 16px;
		min-width: 453px;
	}

	.hero-image--instahue-m {
		display: block;
		margin-bottom: 16px;
		min-width: 353px;	
		width: 100%;
	}	

	.present-section--grey,
	.present-section--alice,
	.present-section--hue,
	.present-section--linesup {
		margin-top: 80px;
    	padding-bottom: 24px;
	}

	.present-section--linesup {
		text-align: center;
	}

	.custom-section--goodroads {
		margin-top: 0px;
	}

	.section--navigation {
		padding: 32px 0;
	}

	.project-line.project-line--navigation-forward {
		text-align: right;
	}

	.project-line--navigation-forward:before {
		margin-left: 8px;
	}


}


@media (min-width: 1200px) {
	.container {
		max-width: 1000px;
	}
}





















